# Notebook

Exported using 
```
jupyter nbconvert --to markdown simple_notebook.ipynb
```

![Placeholder PNG](out1.png)

In [1]:
import pandas as pd
import numpy as np
np.random.seed(42)
data = np.random.random(size=(10,5))
pd.DataFrame(data)

          0         1         2         3         4
0  0.374540  0.950714  0.731994  0.598658  0.156019
1  0.155995  0.058084  0.866176  0.601115  0.708073
2  0.020584  0.969910  0.832443  0.212339  0.181825
3  0.183405  0.304242  0.524756  0.431945  0.291229
4  0.611853  0.139494  0.292145  0.366362  0.456070
5  0.785176  0.199674  0.514234  0.592415  0.046450
6  0.607545  0.170524  0.065052  0.948886  0.965632
7  0.808397  0.304614  0.097672  0.684233  0.440152
8  0.122038  0.495177  0.034389  0.909320  0.258780
9  0.662522  0.311711  0.520068  0.546710  0.184854

## Another image
![Placeholder PNG](out2.png)

In [2]:
print("done")

done